[submodule "prereq/safe-smart-account"]
	path = prereq/safe-smart-account
	url = https://github.com/BCWResearch/bcw-safe-smart-account.git
	branch = witnessed-safe
[submodule "prereq/safe-singleton-factory"]
	path = prereq/safe-singleton-factory
	url = https://github.com/BCWResearch/bcw-safe-singleton-factory.git
	branch = main
